//INDEX

.section-two {
    grid-area: section-two;
    text-align: center;
    margin-bottom: 60px;
    overflow-y: hidden;
    .trending-one {
        margin-bottom: 60px;
        h2{
            font-size: 16px;
            color: $violeta;
            text-align: center;
            line-height: 25px;
            font-family: $myFont;
            font-weight: bold;
        }
        h3{
            font-family: $myFont;
            font-size: 14px;
            color: $violeta;
            text-align: center;
            line-height: 25px;
            width: 70%;
            margin: 0 auto;
        }
        #trending-terms {
            display: inline-flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            h3 {
                width: fit-content;
                margin: unset;
                padding: unset;
                margin-left: 10px;
            }
            h3:first-letter {
                text-transform: uppercase;
            }
        }
    }

    .trending-two {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h3 {
            font-family: $secondFont;
            font-size: 16px;
            color: #000000;
            text-align: center;
            line-height: 23px;
            font-weight: 500;
            width: 70%;
            margin-bottom: 30px;
        }
        .slider-and-gifs {
            display:flex;
            width: 90%;

        }

        #trending-gif {
            display: flex;
            flex-direction: row;
            width: 100%;
            position: relative;
            overflow-x: scroll;
            overflow-y: hidden;
            
            .foto-s2 {
                position: absolute;
                width: 100%;
                min-width:100px;
                height: 100%;
                top: 0;
                left: 0;
            }
            .containerImg {
                position: relative;
                min-width: 250px;
                height: 200px;
                margin:0 10px 0 10px;
                overflow: hidden;
            }
            .containerImg:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left:0;
                transition: .2s linear;
                opacity: 0;
                background-color:rgba(86, 46, 229, 0.7);
                cursor: pointer;
            }

            .containerImg:hover:after {
                opacity: 1;
            }
        
    }

}

}

.title {
    font-family: $myFont;
    font-weight: bold;
    font-size: 20px;
    color: $violeta;
    text-align: center;
    line-height: 30px;
}

.containerImg:hover .hoverContent{
    display: block;
    cursor: pointer;
  }  

.hoverContent {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    .icons-hover{
        display: flex;
        justify-content: flex-end;
        margin: 10px;
        img {
            margin-left: 5px;
        }
        img:nth-of-type(1):hover:not(.elementoActivo){
            content: url('../img/desktop/DAY/icons/icon-fav-hover.svg');
        }
        img:nth-of-type(2):hover {
            content:url('../img/desktop/DAY/icons/icon-download-hover.svg');
        }
        img:nth-of-type(3):hover {
            content:url('../img/desktop/DAY/icons/icon-max-hover.svg');
        }
        .elementoActivo {
            width: 34px;
            background-color:rgb(201, 196, 234);
            padding: 6px;
            border-radius: 10px;
        }
    }
     
    
    .text-hover {
        color: white;
        font-family: $secondFont;
        font-weight: bolder;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        margin: 80px 10px;
        h3 {
            color: white;
            font-family: $secondFont;
            margin: unset;
            width: unset;

        }
    }
    
}

.section-two .trending-two .slider-and-gifs .slider {
    display: none;
}